:root {
    --color-primario-- : #282a39 ;
    --color-inputs-- : #373948 ;
    --colot-button-- : #256E7E ;
    --color-para-las-letras-principales-- : #84899B;
    --color-para-las-letras-de-los-inputs-- : #56565f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.formulario {
    width: 25% ;
    margin :auto ;
    padding: 100px;
    background: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    background: var(--color-primario--);
    font-family: 'Reggae One', cursive;
    border-radius: 10px;
    margin-top: 10%;
}

.formulario > h1 {
    color: var(--color-inputs--);  
    font-size: 60px;
    background: var(--color-primario--) !important;
    
}

.formulario > p {
    
    background: var(--color-primario--) !important;
    font-size: 30px;
    color: var(--color-para-las-letras-principales--);
}

.campo {
    width: 100%;
    background: var(--color-para-las-letras-principales--);
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 50px;
}

.campo > svg {
    width: 20%;
    text-align: center;
    margin: auto;
    color: #fff;
    background: none;
}

.campo > input {
    width: 80%;
    padding: 15px;
    background: none;
    border: none;
    color: var(--color-para-las-letras-de-los-inputs--);
    font-size: 17px;
}

.login {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    text-transform: capitalize;
    background: var(--colot-button--);
    border: none;
    border-radius: 60px;
    color: var(--color-para-las-letras-principales--);
    font-size: 15px;
}

.links {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.links > a {
    width: 50%;
    padding: 10px;
    color: var(--color-para-las-letras-principales--);
    font-size: 15px;
    background: var(--color-primario--) !important;
}